cred-operations/src/main/mule/add.xml
<?xml version="1.0" encoding="UTF-8"?>

<mule xmlns:ee="http://www.mulesoft.org/schema/mule/ee/core" xmlns:db="http://www.mulesoft.org/schema/mule/db"
	xmlns:http="http://www.mulesoft.org/schema/mule/http"
	xmlns="http://www.mulesoft.org/schema/mule/core" xmlns:doc="http://www.mulesoft.org/schema/mule/documentation" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://www.mulesoft.org/schema/mule/core http://www.mulesoft.org/schema/mule/core/current/mule.xsd
http://www.mulesoft.org/schema/mule/http http://www.mulesoft.org/schema/mule/http/current/mule-http.xsd
http://www.mulesoft.org/schema/mule/db http://www.mulesoft.org/schema/mule/db/current/mule-db.xsd
http://www.mulesoft.org/schema/mule/ee/core http://www.mulesoft.org/schema/mule/ee/core/current/mule-ee.xsd">
	<http:listener-config name="HTTP_Listener_config" doc:name="HTTP Listener config" doc:id="94ed9814-6a6e-46c0-be49-5f73414ca10a" basePath="test">
		<http:listener-connection host="0.0.0.0" port="8081" />
	</http:listener-config>
	<db:config name="Database_Config" doc:name="Database Config" doc:id="2b294365-a731-4aa5-ab74-c2126b453dd4" >
		<db:my-sql-connection host="localhost" port="3306" user="root" password="root" database="employee" />
	</db:config>
	<flow name="testFlow" doc:id="5c26f087-bee0-44ca-93c9-85b1be8e4b40" >
		<http:listener doc:name="Add_Listener" doc:id="27502f68-b25d-4d01-ae8c-970b1c9d16ed" config-ref="HTTP_Listener_config" path="add" allowedMethods="POST"/>
		<logger level="INFO" doc:name="Entry Log" doc:id="2951975c-49b0-4cd4-b743-07dcab041d66" message="Flow Started:[#[payload]"/>
		<db:insert doc:name="Insert" doc:id="b0e43446-7506-4dbe-954a-052c8c05dad7" config-ref="Database_Config">
			<db:sql ><![CDATA[insert into emp (emp_id,emp_name,emp_status) values (:emp_id,:emp_name,:emp_status)]]></db:sql>
			<db:input-parameters ><![CDATA[#[{
	"emp_id":payload.emp_id,
	"emp_name":payload.emp_name,
	"emp_status":payload.emp_status
}]]]></db:input-parameters>
		</db:insert>
		<ee:transform doc:name="Transform Message" doc:id="c5d27eae-55a7-4c41-bba7-5c934e8d2377" >
			<ee:message >
				<ee:set-payload ><![CDATA[%dw 2.0
output application/json
---
{
	"status":200,
	"message":"success"
	
}]]></ee:set-payload>
			</ee:message>
		</ee:transform>
		<logger level="INFO" doc:name="Exit Log" doc:id="062a0e94-ef3b-42ce-8b36-6bfd8d419f8a" message="Flow executed:[#[payload]"/>
	</flow>
</mule>
